/* Accessible News Slider : Theme Custom*/




/* DEFAULT STYLES
				
#slider-wrapper div.jqans-wrapper.default a > color of links in post text
				
*/
				
#slider-wrapper div.jqans-wrapper.default a {
	color:#363636 !important;
}
				
				
/* WRAPPER
				
#slider-wrapper div.jqans-wrapper.default > color of the top, left, right border background color and text color (useful for changing color to subtitle) of the main wrapper
				
*/
				
#slider-wrapper div.jqans-wrapper.default {
	border-left: 1px solid #DBE1E6;
	border-right: 1px solid #DBE1E6;
	border-top: 1px solid #DBE1E6; 
	background: #FFF !important; 
	color:inherit; 
}
				
/* HEADLINE
				
#slider-wrapper div.jqans-wrapper.default .jqans-headline strong > aspect of the widget title ("Today news")
				
*/
				
#slider-wrapper div.jqans-wrapper.default .jqans-headline strong { 
	text-transform:uppercase; 
	font-weight:bold; 
	color:#000;
}
				
/* POST CONTENT
				
#slider-wrapper div.jqans-wrapper.default img > img dimensions
				
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 > size of post title
				
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 a, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:hover, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:active, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:visited > color of post title
				
#slider-wrapper div.jqans-wrapper.default .jqans-content p > color of post paragraph
				
*/
				
#slider-wrapper div.jqans-wrapper.default img {
	max-width:100%;
	margin:0;
	padding:0;
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 {
	font-size: 138% !important; 
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-content h1 a, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:hover, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:active, #slider-wrapper div.jqans-wrapper.default .jqans-content h1 a:visited {
	color: #16387C !important; 
	text-decoration:none; 
	background:transparent; 
	border:none;
}
				
				
#slider-wrapper div.jqans-wrapper.default .jqans-content p {
	color: #333 !important;
}
				
/* CAROUSEL
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories > list border bottom color
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li > carousel item background color, gradient and border top color
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected > carousel item selected background color, gradient and border top color
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li img > carousel item image border and background and margins
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected img > carusel item image border when selected
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li h3 > carousel item paragraph font size, color and line height
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected h3 > carousel item paragraph font size and color when selected
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li.selected div > carousel item arrow color

#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector ul, #slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li > ensure transparency on selector background
				
*/
				 
#slider-wrapper div.jqans-wrapper.default .jqans-stories {
	border-bottom-color:#DBE1E6; 
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li {
	background-color:#FCFCFD;
	background-image:-moz-linear-gradient(center top , #E8EDF0, #FCFCFD);
	border-top-color:#A8B4BF;
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected {
	background-color:#59728B;
	background-image:-moz-linear-gradient(center top , #59728B, #2D4458);
	border-top-color:#59728B;	
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li img {
	border: 1px solid #C5CED7;
	background-color: #fff;
	margin:8px 0 0 0;
	padding:0;
	
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected img {
	border: 1px solid #000;
}
				
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li h3 {
	font-size:12px;
	color:#59728B !important;
	line-height:14px !important;
	text-transform:none;
	background:transparent !important; 
	background-color:transparent !important; 
	background-image:none !important;
	margin:0;
	padding:0;
	text-shadow:none;
	font-weight:normal;
	
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories li.selected h3 {
	font-size:12px;
	color:#FFF !important;
}
				
				
#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li.selected div {
	border-right: 10px solid transparent;
	border-bottom: 10px solid #59728B;
	border-left: 10px solid transparent;
}

#slider-wrapper div.jqans-wrapper.default .jqans-stories-selector ul, #slider-wrapper div.jqans-wrapper.default .jqans-stories-selector li {
	background-color: transparent !important;
	background: transparent !important;
}
				
/* PAGINATION
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination > border bottom color and backround of the box containing pagination and slider controls
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a > previous button control color
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a > next button control color
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a span > fake element to make an arrow with pure css: it needs to be the same color as #slider-wrapper div.jqans-wrapper.default .jqans-pagination background color
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a span > fake element to make an arrow with pure css: it needs to be the same color as #slider-wrapper div.jqans-wrapper.default .jqans-pagination background color
				
#slider-wrapper div.jqans-wrapper.default #control-play > play button color
				
#slider-wrapper div.jqans-wrapper.default #pause-left, #slider-wrapper div.jqans-wrapper.default #pause-right > pause button color
				
*/
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination {
	border-bottom-color:#DBE1E6;
	background-color:#F9FAFA;
}
				
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a {
	border-right-color: #59728B;
}
				
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a {
	border-left-color: #59728B;
}
				
	
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-back a span {
	border-right-color: #F9FAFA;	/* it needs to be the same color as #slider-wrapper div.jqans-wrapper.default .jqans-pagination background color*/
}
				
#slider-wrapper div.jqans-wrapper.default .jqans-pagination-controls-next a span {
	border-left-color: #F9FAFA; /* it needs to be the same color as #slider-wrapper div.jqans-wrapper.default .jqans-pagination background color*/
}
				
				
#slider-wrapper div.jqans-wrapper.default #control-play  {
	border-left-color: #59728B; 
}
				
				
#slider-wrapper div.jqans-wrapper.default #pause-left, #slider-wrapper div.jqans-wrapper.default #pause-right {
	background: #59728B;
}


